#footer{
    background-color: #6eff6a;
    margin-top: 10vmax;
    padding: 2vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#leftFooter{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}
#leftFooter > p{
    text-align: center;
}
#leftFooter > div{
    display: flex;
}
#leftFooter > div > img{
    width: 5vmax;
    margin: 1vmax;
}


#midFooter{
    width: 60%;
    text-align:  center;
}
#midFooter > h1{
    font-size: 4vmax;
    color: blue;
}
#midFooter > p{
    max-width: 60%;
    margin: 1vmax auto;
}



#rightFooter{
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#rightFooter > div{
    width: 100%;
    display: flex;
    justify-content: center;
}
#rightFooter> div > a > img{
    width: 2vmax;
    margin: 0.5vmax;
}





