.banner{
    background-image: linear-gradient(to right, #6eff6ade, #2bff00);
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.banner > h1{
    margin: 5vmax;
    font-size: 2.5vmax;
    font-weight: 800;
}
.banner > p{
    font-size: 1.5vmax;
    font-weight: 300;
}
.banner > a > button{
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    font-size: 1vmax;
    font-weight: 500;
    width: 9vmax;
}
.banner > a > button:hover{
    background-color: #ffffff00;
}

.banner::after{
    content:"";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffffff;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(100% 68%, 0 100%, 100% 100%);

}

.homeHeading{
    text-align: center;
    font-size: 1.4vmax;
    border-bottom: 1px solid #000000;
    width: 20vmax;
    margin: 5vmax auto;
}


.productCard{
    width:14vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}

.productCard > img{
    width: 14vmax;
}