.productDetails{
    width: 100vw;
    padding: 6vmax;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    /* background-color: rgb(191, 255, 168); */
}

.productDetails > div{
    width: 100%;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-evenly;
   padding: 2vmax;
   box-sizing: border-box;
}
.productDetails > div:last-child{
    align-items: flex-start;
}
.detailsBlock-1 > h2{
    font-size: 1.6vmax;
    font-weight: 600;
    color: rgb(54, 54, 54);
}
.detailsBlock-1 > p{
    font-size: 0.8vmax;
    font-weight: 200;
    color: rgba(54, 54, 54, 0.582);
}
.detailsBlock-2{
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 0.5vmax 0;
}
.detailsBlock-2 > span{
    font-size: 0.8vmax;
    font-weight: 400;
    color: rgba(22, 22, 22, 0.825);
    margin: 0 0.5vmax;
}
.detailsBlock-3{
    width: 70%;
}
.detailsBlock-3 > h1{ 
    font-size: 1.8vmax;
    font-weight: 800;
    color: rgba(17, 17, 17, 0.795);
    margin: 1vmax 0;
}
.detailsBlock-3 > p > .redColor{ 
    color: red;
}
.detailsBlock-3 > p > .greenColor{ 
    color: rgb(0, 131, 0);
}
.detailsBlock-3-1{
    display: flex;
    align-items: center;
}
.detailsBlock-3-1-1 > button{
    border: none;
    background-color: rgba(0, 0, 0, 0.616);
    cursor: pointer;
    color: white;
    transition: all 0.5s;
    padding: 0.5vmax;
}
.detailsBlock-3-1-1 > button:hover{
    background-color: rgba(0, 0, 0, 0.767);
}
.detailsBlock-3-1-1 > input{
    border: none;
    padding: 0.5vmax;
    width: 1vmax;
    text-align: center;
    outline: none;
    color: rgba(0, 0, 0, 0.74);
    font-weight: 800;
    font-size: 0.8vmax;
}
.detailsBlock-3-1 > button:last-child{
    border: none;
    padding: 0.5vmax 2vmax;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 1vmax;
    margin: 1vmax;
    outline: 1vmax;
    transition: all 0.5s;
    background-color: blue;
    border-radius: 20px;
}
.detailsBlock-3-1 > button:last-child:hover{
    background-color: rgb(0, 0, 129);
}
.detailsBlock-3 > p{ 
    border-top: 1px solid rgba(0, 0, 0, 0.205);
    border-bottom: 1px solid rgba(0, 0, 0, 0.205);
    padding: 1vmax 0;
    font-weight: 500;
    font-size: 1vmax;
    margin: 1vmax 0;
}
.detailsBlock-4{ 
    color: rgba(0, 0, 0, 0.897);
    font-weight: 500;
    font-size: 1.2vmax;
}
.detailsBlock-4 > p{ 
    color: rgba(0, 0, 0, 0.897);
    font-weight: 300;
    font-size: 0.8vmax;
}
.submitReview{
    border: none;
    padding: 0.5vmax 2vmax;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 1vmax;
    margin: 1vmax;
    outline: 1vmax;
    transition: all 0.5s;
    background-color: blue;
    border-radius: 20px;
}
.submitReview:hover{
    background-color: rgb(0, 0, 129);
    transform: scale(1.1);
}

.reviewsHeading{
    text-align: center;
    font-size: 1.4vmax;
    font-weight: 500;
    color: #000;
    width: 20vmax;
    margin: 0 auto;
    padding:1vmax;
    margin-bottom: 4vmax;
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
}

.reviews{
    display: flex;
    overflow: auto;
}
.reviews::-webkit-scrollbar{
    background-color: #fff;
    height: 5px;
}
.reviews::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 10px;              
}
.reviews:hover::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, 0.445);
}

.reviewCard{
    flex: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.226);
    border: 1px solid rgba(56, 56, 56, 0.116);
    width: 25vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5vmax 1vmax;
    padding: 4vmax 3vmax;
}
.reviewCard > img{
    width: 5vmax;
}
.reviewCard > p{
    color: rgba(0, 0, 0, 0.671);
    font-size: 1.3vmax;
    font-weight: 600;
}
.reviewCard > span{
    color: rgb(0, 0, 0);
    font-size: 1vmax;
    font-weight: 300;
}
.noReviews{
    color: rgba(0, 0, 0, 0.548);
    font-size: 1.8vmax;
    font-weight: 500;
    text-align: center;
}
@media screen and (max-width: 600px){
    .productDetails{
        flex-direction: column;
    }
    .productDetails > div:last-child{
       padding: 1vmax;
    }
    .detailsBlock-1{
        width: 100%;
    }
    .detailsBlock-1 > h2{
        font-size: 3vmax;
    }
    .detailsBlock-1 > p{
        font-size: 1vmax;
    }
    .detailsBlock-2 > span{
        font-size: 1.5vmax;
    }
    .detailsBlock-3{
        width: 100%;
    }
    .detailsBlock-3 > h1{ 
        font-size: 3vmax;
    }
    .detailsBlock-3-1-1 > button{
        padding: 1.5vmax;
        font-size: 1.8vmax;
    }
    .detailsBlock-3-1-1 > button:hover{
        background-color: rgba(0, 0, 0, 0.767);
    }
    .detailsBlock-3-1-1 > input{
        padding: 1.5vmax;
        font-size: 1.8vmax;
    }
    .detailsBlock-3-1 > button:last-child{
        padding: 1vmax 3vmax;
        font-weight: 600;
        font-size: 1.8vmax;
    }
    .detailsBlock-3 > p{ 
        padding: 1.2vmax 0;
        font-size: 2vmax;
    }
    .detailsBlock-4{ 
        font-size: 2vmax;
    }
    .detailsBlock-4 > p{ 
        font-weight: 400;
        font-size: 1.5vmax;
    }
    .submitReview{
        padding: 1.2vmax;
        font-size: 1.8vmax;
        border-radius: 30px;
        margin: 2vmax 0;
    }
    .reviewsHeading{
        font-size: 1.9vmax;
        width: 30vmax;
    }
    .reviewCard{
        padding: 2.5vmax;
        width: 55%;
    }
    .reviewCard > p{
        font-size: 1.9vmax;
    }
    .reviewCard > span{
        font-size: 1.5vmax;
    }
    .noReviews{
        color: rgba(0, 0, 0, 0.548);
        font-size: 1.8vmax;
        font-weight: 500;
        text-align: center;
    }
}