.banner{
    background-image: linear-gradient(to right, #6eff6ade, #2bff00);
    height: 100vmin;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.banner > h1{
    margin: 5vmax;
    font-size: 2.5vmax;
    font-weight: 800;
}
.banner > p{
    font-size: 1.5vmax;
    font-weight: 300;
}
.banner > a > button{
    margin-bottom: 5vmax;
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    border-radius: 0;
    padding: 1vmax;
    transition: all 0.5s;
    font-size: 1vmax;
    font-weight: 500;
    width: 9vmax;
}
.banner > a > button:hover{
    background-color: #ffffff00;
}

.banner::after{
    content:"";
    width: 100vw;
    height: 100vmin;
    background-color: #ffffffff;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(100% 68%, 0 100%, 100% 100%);

}

.homeHeading{
    text-align: center;
    font-size: 1.4vmax;
    border-bottom: 1px solid #000000;
    width: 20vmax;
    margin: 5vmax auto;
}

.container{
    display: flex;
    margin: 2vmax auto;
    width: 80vw;
    flex-wrap: wrap;
}

.productCard{
    width:16vmax;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: center;
    margin: 2vmax;
    transition: all 0.5s;
    padding-bottom: 0.5vmax;
}


.productCard > img{
    width: 14vmax;
}
.productCard > p{
    margin: 0 !important;
}

.productCard > div{
    display: flex;
    justify-content: center;
    margin: 0.5vmax;
    align-items: center;
}
.productCard > div > span{
    margin: 0.5vmax;
    font-size: 0.8vmax;
    font-weight: 800;
    
}
.productCard > span{
    font-size: 1.2vmax;
    font-weight: 800;
    
}
.productCard:hover{
    box-shadow: 0 0 5px rgb(14 1 50 / 50%);
    transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
    .container{
        width: 100vw;
    }
    .productCard{
        margin: 2vmax auto;
        width: 18vmax;
        
    }
    
    
    .productCard > img{
        width: 18vmax;
    }
    
    .productCard > div{
        display: flex;
        justify-content: center;
        margin: 0.5vmax;
        align-items: center;
    }
    .productCard > div > span{
        font-size: 1vmax;
        
    }
    .productCard > span{
        font-size: 1.5vmax;
        
    }
}


